<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
  	<title>{{ site.title }}</title>
    <meta name="description" content="André Moreira - My Personal WebSite">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="keywords" content="André, Moreira, André Moreira, website, web, site, personal, Brasil">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/img/sharp.png" />

    <!-- Open Graph -->
    <meta property="og:title" content="André Moreira">
    <meta property="og:site_name" content="André Moreira">
    <meta property="og:url" content="http://andredsm.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content=" This is André Moreira's personal web page">
    <meta property="og:image" content="{{ ASSET_PATH }}/img/me.png"/>
    
    <!-- CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/home.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/vendors/scrolloverflow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.min.js"></script>
    
   <link rel="author" href="/humans.txt" />
   <link rel="author" href="{{site.author.gplus}}"/>

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  </head>

  <body>
    {{ content }}

    {% include JB/analytics %}

    <script type="text/javascript">
      $(document).ready(function(){
        $('#fullpage').fullpage({
          // scrollOverflow: true,
          anchors: [ 'home', 'aboutme', 'myprojects'],
          menu: '#fixed-header',
          // fixedElements: '#nav',
          responsiveWidth: 1100
        });
    });
    </script>
    <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "AndreMoreira",
       "alternateName" : "Andre",
       "url" : "http://www.andredsm.com"
    }
    </script>
  </body>
</html>
