<header>
	<div class="header-content">
		<span class="blog-title">
			<a href="{{ BASE_PATH }}/blog">André Moreira <span class="blog-red">#</span> blog </a>
		</span>
		<form id="search" action="#" method="post">
        	<div id="label"><label for="search-terms" id="search-label" class="fa fa-search fa-lg"></label></div>
        	<div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Search"></div>
        	
    	</form>
		<!---<div class="search-container">
			<span class="fa fa-search fa-lg"></span>
		</span>-->
	</div>
</header>