<!DOCTYPE html>
<html class="no-js">

{% include JB/setup %}
{% include themes/blog/head.html %}

<body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">

  {{ content }}

  {% include JB/analytics %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
    integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src='{{ "/assets/themes/blog/js/vendor/jquery.jpanelmenu.min.js" | prepend: site.baseurl }}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"
    integrity="sha512-qH+R6YL4/40iiIrnN5aNZ1sEeEalNAdnzP9jfsxFPBdIslTkwUddkSazjVWhJ3f/3Y26QF6aql0xeneuVw0h/Q=="
    crossorigin="anonymous"></script>
  {% if enable_retina %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.3/retina.min.js"
    integrity="sha512-9RcSZpXlWiAq12BM82QI0qRtusQJonuUZ/h/bZl+Cd6O4Pw7UnGV6gnCcS5wV03/zvLwCeL3enaUa0RPy+VM2w=="
    crossorigin="anonymous"></script>
  {% endif %}

  <script src=' {{ "/assets/themes/blog/js/main.js" | prepend: site.baseurl }}'></script>
</body>

</html>