<!DOCTYPE html>
<html>
<head>

    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Base Meta -->
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/home/css/home.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/vendors/scrolloverflow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/jquery.fullpage.min.js"></script>
    
    <!-- This tag outputs SEO meta+structured data and other important settings -->
    {% include head.html %}

</head>
<body>
    {{ content }}

    <script type="text/javascript">
      $(document).ready(function(){
        $('#fullpage').fullpage({
          // scrollOverflow: true,
          anchors: [ 'home', 'aboutme', 'myprojects'],
          menu: '#fixed-header',
          // fixedElements: '#nav',
          responsiveWidth: 1100
        });
    });
    </script>
    <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "AndreMoreira",
       "alternateName" : "Andre",
       "url" : "https://www.andredsm.com"
    }
    </script>    
    
    <!-- Add Google Analytics  -->
    {% include analytics.html %}

    <!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag -->
    <!-- ghost_foot -->

</body>
</html>
